@import "tailwindcss";

.root {
  isolation: isolate;
}

.body {
  position: relative;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  height: auto;
  max-height: 900px;
  border: none;
  border-radius: 12px;
  background-color: white;
  padding: 20px;
  margin: auto;
  display: flex;
}
