@import "tailwindcss";

.root {
  isolation: isolate;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  border: none;
  border-radius: 8px;
  width: fit-content;
  max-width: 1172px;
  max-height: calc(100vh - 4rem); 
  margin: auto;              
  overflow-y: auto;              
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend Deca", sans-serif;
}